
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@500&family=PT+Serif&family=Roboto:wght@700&family=Tinos&display=swap');


body{
    margin: 0 auto;
}

h1 {
    margin: 0 auto;
    font-size: 4em;
    color: white;
    font-family: "Roboto";
}

h1:hover{
    color: black;
}

h3 {
    margin: 0 auto;
    font-size: 2em;
    color: white; 
    font-family: "PT Serif";
}
 h4 {
    color:white;
    margin: 0 auto;
    font-family: ""
 }

h5 {
    font-family: "Tinos";
}

h2 {
    margin: 0 auto;
    color:white
}

 body {
    margin: 0 auto;
    background-color: #fca6c9;
 }

img {
    margin: 0 auto;
    max-width: 240px;
    min-width: 50px
 }

.class {
    color: black;
}
 div{
    margin: 0 auto;
    text-align: center;
 }
 #background{
    height: 30px;
 }
 
.spacer1{
    height: 30px ;
}

.spacer2{
    height: 30px;
}

.spacer3{
    height: 30px;
}
ol li{
    margin: 0 auto;
    text-align: center;
    list-style-position: inside;
    margin: block inline
    margin-block-inl
}
.covenants {
    color:black;
    margin: 0 auto;
    text-align: center;
    font-family: "Nunito";
 }