@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@100;300;400&family=Pacifico&family=Roboto+Slab&display=swap');




/* Body: */
body{
    background-color: #fff8e4;
    font-family: 'Geologica';
}




/* Header */
h2, h3, h4, h5{
    font-family: 'Roboto Slab';
}
.nav_bar{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    text-align: center;
    background-color: #8E4162;
    padding: 15px;
}
.nav_home{
    grid-column: 1/2;
    margin-top: 30px;
    color: white;
    font-size: 30px;
    text-decoration: none;
    text-shadow: 5px 5px 5px #331723;
}
.nav_cakes{
    grid-column: 2/3;
    margin-top: 30px;
    color: white;
    font-size: 30px;
    text-decoration: none;
    text-shadow: 5px 5px 5px #331723;
}
#logo_link{
    margin: 0 auto;
    grid-column: 3/4;
    width: 100px;
    height: 105px;
    border: 4px solid #512638;
    border-radius: 55px;
}
.logo{
    grid-column: 3/4;
    border-radius: 50px;
    width:100px;
}
.nav_desserts{
    grid-column: 4/5;
    margin-top: 30px;
    color: white;
    font-size: 30px;
    text-decoration: none;
    text-shadow: 5px 5px 5px #331723;
}
.nav_contactus{
    grid-column: 5/6;
    margin-top: 30px;
    color: white;
    font-size: 30px;
    text-decoration: none;
    text-shadow: 5px 5px 5px #331723;
}
.nav_home:hover, .nav_cakes:hover, .nav_desserts:hover, .nav_contactus:hover{
    color: #C6E0FF;
    text-shadow: 5px 5px 5px #303a46;
}





/* Title Image and Text */
.home_image{
    text-align: center;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 460px;
}
.home_title{
    grid-column: 1/2;
    grid-row: 1/2;
    z-index: 1;
    margin-top: 75px;
    font-size: 58px;
    color: #512638;
}
.home_subtext{
    grid-column: 1/2;
    grid-row: 1/2;
    z-index: 1;
    margin-top: 150px;
    font-size: 34px;
    color: #512638;
}
.h_image_box{
    width:100%;
    opacity: 0.5;
    grid-column: 1/2;
    grid-row: 1/2;
}





/* Cake and Dessert Boxes */
.home_grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
}
.aboutus_img{
    width:300px;
}
.button_box{
    background-color: white;
    text-align: center;
    width: 115px;
    height: 50px;
    margin: 0 auto;
    border-radius: 5px;
    font-size: 20px;
    padding-top: 10px;
    line-height: 2;
}
.button_box:hover{
    background-color: #C6E0FF;
}




/* Cake Box */
.cakes_img{
    width:200px;
    border: 15px solid white;
}
.cakes_background{
    background-color: #8E4162;
    grid-column: 1/2;
    grid-row: 1/2;
    text-align: center;
    margin: 50px;
    padding: 50px;
    border-radius: 25px;
    border: #57293c solid 10px;
}
.cakes_summarytext{
    font-size: 50px;
    color: white;
    margin: 10px;
}
.cake_text{
    color: rgb(228, 207, 207);
}
.cakes_button{
    text-decoration: none;
    color: #512638;
}
.cakes_button:hover{
    color: #8e4966;
}




/* Dessert Box */
.desserts_img{
    width:200px;
    border: 15px solid white;
}
.desserts_background{
    background-color: #8E4162;
    grid-column: 2/3;
    grid-row: 1/2;
    text-align: center;
    margin: 50px;
    padding: 50px;
    border-radius: 25px;
    border: #57293c solid 10px;
}
.desserts_summarytext{
    font-size: 50px;
    color: white;
    margin: 10px;
}
.dessert_text{
    color: rgb(228, 207, 207);
}
.desserts_button{
    text-decoration: none;
    color: #512638;
}
.desserts_button:hover{
    color: #8e4966;
}



/* About Us Home Section */
.aboutus{
    background-color: #ECDCB0;
    grid-column: 1/3;
    margin: 25px;
    margin-bottom: 80px;
    border: 15px solid  #d3c191;
    border-radius: 10px;
    padding: 10px;
    height: 250px;
}
.aboutus_title_01{
    color: #4e4017;
}
.aboutus_subtext{
    color: rgb(86, 71, 25);
    font-size: 20px;
    padding: 5px;
    width: 700px;
    margin: 0 auto;
}




/* About Us Bottom Box */
.aboutus_text_box{
    background-color: #C6E0FF;
    grid-column: 1/3;
    grid-row: 4/5;
    height: 400px;
    width: 882px;
    margin: 0 auto;
    margin-bottom: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    box-shadow: 10px 10px 10px #a5bbd6;
}
.aboutus_title_02{
    grid-column: 2/3;
    grid-row: 1/2;
    margin: 0 auto;
    margin-top: 10px;
    margin-right: 30px;
    padding: 40px;
    font-size: 30px;
}
.aboutus_text{
    grid-column: 2/3;
    grid-row: 1/2;
    margin: 0 auto;
    margin-top: 98px;
    margin-right: 30px;
    padding: 40px;
    font-size: 23px;
}
.aboutus_img{
    margin: 0 auto;
    margin-top: 23px;
    grid-column: 1/2;
    grid-row: 4/5;
    margin-left: 360px;
    width: 350px;
    z-index: 1;
    box-shadow: 5px 5px 5px #a5bbd6;
}







/* Footer */
footer{
    background-color: #8E4162;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 120px 120px 120px;
    grid-template-rows: 100px 100px;
    margin-top: 50px;
    padding: 20px;
}
footer .logo{
    grid-column: 1/2;
    width: 180px;
    margin: 0 auto;
}
.footer_text{
    grid-column: 2/4;
    font-size: 23px;
    color: white;
    background-color: #512638;
    text-align: center;
    padding-top: 12px;
    border-radius: 10px;
    width: 550px;
}
.button_box_siteplan{
    grid-column: 2/3;
    grid-row: 2/3;
    background-color: white;
    text-align: center;
    width: 115px;
    height: 50px;
    margin: 94px;
    margin-top: 20px;
    border-radius: 5px;
    font-size: 20px;
    padding-top: 10px;
    line-height: 2;
}
.button_box_siteplan:hover{
    background-color: #C6E0FF;
}
.button_box_contactus{
    grid-column: 3/4;
    grid-row: 2/3;
    background-color: white;
    text-align: center;
    width: 115px;
    height: 50px;
    margin: 23px;
    margin-top: 20px;
    border-radius: 5px;
    font-size: 20px;
    padding-top: 10px;
    line-height: 2;
}
.button_box_contactus:hover{
    background-color: #C6E0FF;
}
.siteplan_link{
    text-decoration: none;
    color: #512638;
}
.footer_contactus{
    text-decoration: none;
    color: #512638;
}
.facebook{
    grid-column: 4/5;
    text-align: center;
    margin-top: 75px;
}
.facebook_image{
    border: #5126387f solid 5px;
    width: 64px;
}
.facebook_image:hover{
    border: #C6E0FF solid 5px;
}
.twitter{
    grid-column: 5/6;
    text-align: center;
    margin-top: 75px;
}
.twitter_image{
    border: #5126387f solid 5px;
    width: 64px;
}
.twitter_image:hover{
    border: #C6E0FF solid 5px;
}
.instagram{
    grid-column: 6/7;
    text-align: center;
    margin-top: 75px;
}
.instagram_image{
    border: #5126387f solid 5px;
    width: 64px;
}
.instagram_image:hover{
    border: #C6E0FF solid 5px;
}







/* Cake Subpage Specifics */

/* Cake Pricing */
.cake_pricing_img_01{
    width: 200px;
    border: 5px solid #92a5bd;
    box-shadow: 5px 5px 5px #7e90a8;
    margin-right: 30px;
}
.cake_pricing_img_02{
    width: 200px;
    border: 5px solid #92a5bd;
    box-shadow: 5px 5px 5px #7e90a8;
}
.cake_pricing_img_03{
    width: 200px;
    border: 5px solid #92a5bd;
    box-shadow: 5px 5px 5px #7e90a8;
    margin-left: 30px;
}
.cake_pricing{
    background-color: #C6E0FF;
    width: 1000px;
    height: 600px;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
    grid-column: 1/3;
    padding: 0px 50px 0px 50px;
    border: 5px solid #a5bbd6;
}
.cake_pricing_title{
    font-size: 40px;
    color:#3f4c5c
}
.cake_pricing_text{
    color: #516175;
}





/* Cake 01 */
.cake_01{
    background-color:#8E4162;
    grid-column: 1/2;
    grid-row: 2/3;
    text-align: center;
    margin: 50px;
    padding: 50px;
    border-radius: 25px;
    border: #57293c solid 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.cake_01_image{
    width: 250px;
    border: 15px solid rgb(212, 165, 165);
    grid-column: 1/3;
    margin: 0 auto;
}
.c01_title{
    color: white;
    grid-column: 1/3;
    font-size: 40px;
    text-shadow: 5px 5px 5px rgb(75, 41, 52);
}
.c01_types{
    color: rgb(228, 207, 207);
    margin-top: -15px;
}
.c01_icing_title{
    color: white;
    grid-column: 1/3;
    text-shadow: 5px 5px 5px rgb(75, 41, 52);
}
.c01_icing{
    color: rgb(228, 207, 207);
    grid-column: 1/3;
}
.c01_filling_title{
    color: white;
    grid-column: 1/3;
    text-shadow: 5px 5px 5px rgb(75, 41, 52);
}
.c01_filling{
    color: rgb(228, 207, 207);
    grid-column: 1/3;
}






/* Cake 02 */
.cake_02{
    background-color:#8E4162;
    grid-column: 2/3;
    grid-row: 2/3;
    text-align: center;
    margin: 50px;
    padding: 50px;
    border-radius: 25px;
    border: #57293c solid 10px;
}
.cake_02_image{
    width: 250px;
    border: 15px solid rgb(212, 165, 165);
}
.c02_title{
    color: white;
    font-size: 40px;
    margin-bottom: 50px;
    text-shadow: 5px 5px 5px rgb(75, 41, 52);
}
.c02_icing_title{
    color: white;
    text-shadow: 5px 5px 5px rgb(75, 41, 52);
    margin-bottom: 40px;
}
.c02_icing{
    color: rgb(228, 207, 207);
    margin-bottom: 70px;
}
.c02_filling_title{
    color: white;
    text-shadow: 5px 5px 5px rgb(75, 41, 52);
    margin-bottom: 40px;
}
.c02_filling{
    color: rgb(228, 207, 207);
}






/* Cake 03 */
.cake_03{
    background-color:#8E4162;
    grid-column: 1/2;
    grid-row: 3/4;
    text-align: center;
    margin: 50px;
    padding: 50px;
    border-radius: 25px;
    border: #57293c solid 10px;
}
.cake_03_image{
    width: 300px;
    border: 15px solid rgb(212, 165, 165);
}
.c03_title{
    font-size: 40px;
    color: white;
    text-shadow: 5px 5px 5px rgb(75, 41, 52);
}
.c03_icing_title{
    color: white;
    text-shadow: 5px 5px 5px rgb(75, 41, 52);
}
.c03_icing{
    color: rgb(228, 207, 207);
}
.c03_filling_title{
    color: white;
    text-shadow: 5px 5px 5px rgb(75, 41, 52);
}
.c03_filling{
    color: rgb(228, 207, 207);
}


/* Cake 04 */
.cake_04{
    background-color:#8E4162;
    grid-column: 2/3;
    grid-row: 3/4;
    text-align: center;
    margin: 50px;
    padding: 50px;
    border-radius: 25px;
    border: #57293c solid 10px;
}
.cake_04_image{
    width: 400px;
    border: 15px solid rgb(212, 165, 165);
}
.c04_title{
    font-size: 40px;
    color: white;
    text-shadow: 5px 5px 5px rgb(75, 41, 52);
}
.c04_icing_title{
    color: white;
    text-shadow: 5px 5px 5px rgb(75, 41, 52);
}
.c04_icing{
    color: rgb(228, 207, 207);
}
.c04_filling_title{
    color: white;
    text-shadow: 5px 5px 5px rgb(75, 41, 52);
}
.c04_filling{
    color: rgb(228, 207, 207);
}






/* Cake 05 */
.cake_05{
    background-color:#8E4162;
    grid-column: 1/2;
    grid-row: 4/5;
    text-align: center;
    margin: 50px;
    padding: 50px;
    border-radius: 25px;
    border: #57293c solid 10px;
}
.cake_05_image{
    width: 400px;
    border: 15px solid rgb(212, 165, 165);
}
.c05_title{
    font-size: 40px;
    color: white;
    text-shadow: 5px 5px 5px rgb(75, 41, 52);
}
.c05_icing_title{
    color: white;
    text-shadow: 5px 5px 5px rgb(75, 41, 52);
}
.c05_icing{
    color: rgb(228, 207, 207);
}
.c05_filling_title{
    color: white;
    text-shadow: 5px 5px 5px rgb(75, 41, 52);
}
.c05_filling{
    color: rgb(228, 207, 207);
}






/* Cake 06 */
.cake_06{
    background-color:#8E4162;
    grid-column: 2/3;
    grid-row: 4/5;
    text-align: center;
    margin: 50px;
    padding: 50px;
    border-radius: 25px;
    border: #57293c solid 10px;
}
.cake_06_image{
    width: 400px;
    border: 15px solid rgb(212, 165, 165);
}
.c06_title{
    font-size: 40px;
    color: white;
    text-shadow: 5px 5px 5px rgb(75, 41, 52);
}
.c06_icing_title{
    color: white;
    text-shadow: 5px 5px 5px rgb(75, 41, 52);
}
.c06_icing{
    color: rgb(228, 207, 207);
}
.c06_filling_title{
    color: white;
    text-shadow: 5px 5px 5px rgb(75, 41, 52);
}
.c06_filling{
    color: rgb(228, 207, 207);
}




/* Flavor Requests */
.flavor_requests{
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 30px;
    border: 10px solid #cfbd87;
    border-radius: 10px;
    background-color: #ECDCB0;
    grid-column: 1/3;
    width: 900px;
}
.flavor_requests_title{
    margin-top: 5px;
    font-size: 30px;
    color:#4e4017;
}
.flavor_requests_text{
    color:#6e5b22;
}





/* Cake Tasting */
.cake_tasting{
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 30px;
    border: 10px solid #a5c0e0;
    border-radius: 10px;
    background-color: #C6E0FF;
    grid-column: 1/3;
    width: 1000px;
}
.cake_tasting_title{
    margin-top: 5px;
    font-size: 30px;
    color:#303a46;
}
.cake_tasting_text{
    color:#3f4c5c;
}






/* Delivery */
.delivery{
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 30px;
    border: 10px solid #cfbd87;
    border-radius: 10px;
    background-color: #ECDCB0;
    grid-column: 1/3;
    width: 900px;
}
.delivery_title{
    margin-top: 5px;
    font-size: 30px;
    color:#4e4017;
}
.delivery_text{
    color:#6e5b22;
}






/* Book Now */
.booknow_box{
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 50px;
    border: 10px solid #a6bbd7;
    border-radius: 10px;
    background-color: #C6E0FF;
    grid-column: 1/3;
    width: 900px;
}
.booknow_cake_image{
    width: 700px;
}
.booknow_buttonbox{
    background-color: #303a46;
    text-align: center;
    width: 115px;
    height: 30px;
    margin: 0 auto;
    margin-top: 20px;
    border-radius: 5px;
    font-size: 20px;
    padding-bottom: 10px;
    line-height: 2;
}
.booknow_buttonbox:hover, .booknow_button:hover{
    background-color: #8E4162;
    color: white;
}
.booknow_button:hover{
    color: white;
}
.booknow_button{
    text-decoration: none;
    color:#ffffff;
}





/* Dessert Subpage Specifics */


/* Dessert Pricing */
.dessert_pricing{
    background-color: #C6E0FF;
    width: 1000px;
    height: 200px;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
    grid-column: 1/3;
    padding: 0px 50px 0px 50px;
    border: 5px solid #a5bbd6;
}
.dessert_pricing_title{
    font-size: 40px;
    color:#3f4c5c
}
.dessert_pricing_text{
    color: #516175;
}



/* Dessert 01 */
.dessert_01_image{
    width: 250px;
    border: 15px solid rgb(212, 165, 165);
    grid-column: 1/3;
    margin: 0 auto;
}
.dessert_01{
    background-color:#8E4162;
    grid-column: 1/2;
    grid-row: 2/3;
    text-align: center;
    margin: 50px;
    padding: 50px;
    border-radius: 25px;
    border: #57293c solid 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.d01_title{
    color: white;
    grid-column: 1/3;
    font-size: 40px;
    text-shadow: 5px 5px 5px rgb(75, 41, 52);
}
.d01_flavors_title{
    color: white;
    grid-column: 1/3;
    text-shadow: 5px 5px 5px rgb(75, 41, 52);
}
.d01_flavors{
    color: rgb(228, 207, 207);
    grid-column: 1/3;
}
.d01_frostings_title{
    color: white;
    grid-column: 1/3;
    text-shadow: 5px 5px 5px rgb(75, 41, 52);
}
.d01_frostings{
    color: rgb(228, 207, 207);
    grid-column: 1/3;
}
.d01_fillings_title{
    color: white;
    grid-column: 1/3;
    text-shadow: 5px 5px 5px rgb(75, 41, 52);
}
.d01_fillings{
    color: rgb(228, 207, 207);
    grid-column: 1/3;
}






/* Dessert 02 */
.dessert_02{
    background-color:#8E4162;
    grid-column: 2/3;
    grid-row: 2/3;
    margin: 50px;
    padding: 50px;
    text-align: center;
    border-radius: 25px;
    border: #57293c solid 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.dessert_02_image{
    width: 250px;
    border: 15px solid rgb(212, 165, 165);
    grid-column: 1/3;
    margin: 0 auto;
}
.d02_title{
    font-size: 40px;
    color: white;
    grid-column: 1/3;
    text-shadow: 5px 5px 5px rgb(75, 41, 52);
}
.d02_flavors_title{
    color: white;
    grid-column: 1/3;
    text-shadow: 5px 5px 5px rgb(75, 41, 52);
}
.d02_flavors{
    color: rgb(228, 207, 207);
    grid-column: 1/3;
}
.d02_coating_title{
    color: white;
    grid-column: 1/3;
    text-shadow: 5px 5px 5px rgb(75, 41, 52);
}
.d02_coating{
    color: rgb(228, 207, 207);
    grid-column: 1/3;
}
.d02_toppings_title{
    color: white;
    grid-column: 1/3;
    text-shadow: 5px 5px 5px rgb(75, 41, 52);
}
.d02_toppings{
    color: rgb(228, 207, 207);
    grid-column: 1/3;
}






/* Dessert 03 */
.dessert_03{
    background-color:#8E4162;
    grid-column: 1/2;
    grid-row: 4/5;
    text-align: center;
    margin: 50px;
    padding: 50px;
    border-radius: 25px;
    border: #57293c solid 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.dessert_03_image{
    width: 250px;
    border: 15px solid rgb(212, 165, 165);
    grid-column: 1/3;
    margin: 0 auto;
}
.d03_title{
    font-size: 40px;
    color: white;
    text-shadow: 5px 5px 5px rgb(75, 41, 52);
    grid-column: 1/3;
}
.d03_flavors_title{
    color: white;
    grid-column: 1/3;
    text-shadow: 5px 5px 5px rgb(75, 41, 52);
}
.d03_flavors{
    color: rgb(228, 207, 207);
    grid-column: 1/3;
}
.d03_toppings_title{
    color: white;
    grid-column: 1/3;
    text-shadow: 5px 5px 5px rgb(75, 41, 52);
}
.d03_toppings{
    color: rgb(228, 207, 207);
    grid-column: 1/3;
}






/* Dessert 04 */
.dessert_04{
    background-color:#8E4162;
    grid-column: 2/3;
    grid-row: 3/4;
    text-align: center;
    margin: 50px;
    padding: 50px;
    border-radius: 25px;
    border: #57293c solid 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.dessert_04_image{
    width: 250px;
    border: 15px solid rgb(212, 165, 165);
    grid-column: 1/3;
    margin: 0 auto;
}
.d04_title{
    font-size: 40px;
    color: white;
    grid-column: 1/3;
    text-shadow: 5px 5px 5px rgb(75, 41, 52);
}
.d04_description{
    color: rgb(228, 207, 207);
    grid-column: 1/3;
}
.d04_frosting_title{
    color: white;
    grid-column: 1/3;
    text-shadow: 5px 5px 5px rgb(75, 41, 52);
}
.d04_frosting{
    color: rgb(228, 207, 207);
    grid-column: 1/3;
}
.d04_toppings_title{
    color: white;
    grid-column: 1/3;
    text-shadow: 5px 5px 5px rgb(75, 41, 52);
}
.d04_toppings{
    color: rgb(228, 207, 207);
    grid-column: 1/3;
}






/* Dessert 05 */
.dessert_05{
    background-color:#8E4162;
    grid-column: 1/2;
    grid-row: 3/4;
    text-align: center;
    margin: 50px;
    padding: 50px;
    border-radius: 25px;
    border: #57293c solid 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.dessert_05_image{
    width: 250px;
    border: 15px solid rgb(212, 165, 165);
    grid-column: 1/3;
    margin: 0 auto;
}
.d05_title{
    font-size: 40px;
    color: white;
    grid-column: 1/3;
    text-shadow: 5px 5px 5px rgb(75, 41, 52);
}
.d05_colors_title{
    color: white;
    grid-column: 1/3;
    text-shadow: 5px 5px 5px rgb(75, 41, 52);
}
.d05_colors{
    color: rgb(228, 207, 207);
    grid-column: 1/3;
}
.d05_frosting_title{
    color: white;
    grid-column: 1/3;
    text-shadow: 5px 5px 5px rgb(75, 41, 52);
}
.d05_frosting{
    color: rgb(228, 207, 207);
    grid-column: 1/3;
}
.d05_fillings_title{
    color: white;
    grid-column: 1/3;
    text-shadow: 5px 5px 5px rgb(75, 41, 52);
}
.d05_fillings{
    color: rgb(228, 207, 207);
    grid-column: 1/3;
}
.d05_toppings_title{
    color: white;
    grid-column: 1/3;
    text-shadow: 5px 5px 5px rgb(75, 41, 52);
}
.d05_toppings{
    color: rgb(228, 207, 207);
    grid-column: 1/3;
}







/* Dessert 06 */
.dessert_06{
    background-color:#8E4162;
    grid-column: 2/3;
    grid-row: 4/5;
    text-align: center;
    margin: 50px;
    padding: 50px;
    border-radius: 25px;
    border: #57293c solid 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.dessert_06_image{
    width: 250px;
    border: 15px solid rgb(212, 165, 165);
    grid-column: 1/3;
    margin: 0 auto;
}
.d06_title{
    font-size: 40px;
    color: white;
    grid-column: 1/3;
    text-shadow: 5px 5px 5px rgb(75, 41, 52);
}
.d06_description{
    color: white;
    grid-column: 1/3;
    text-shadow: 5px 5px 5px rgb(75, 41, 52);
}







/* Dessert 07 */
.dessert_07_image{
    width: 200px;
}
.dessert_07{
    background-color:#8E4162;
    grid-column: 1/2;
    grid-row: 5/6;
    text-align: center;
    margin: 50px;
    padding: 50px;
    border-radius: 25px;
    border: #57293c solid 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.dessert_07_image{
    width: 250px;
    border: 15px solid rgb(212, 165, 165);
    grid-column: 1/3;
    margin: 0 auto;
}
.d07_title{
    font-size: 40px;
    color: white;
    grid-column: 1/3;
    text-shadow: 5px 5px 5px rgb(75, 41, 52);
}
.d07_toppings_title{
    color: white;
    grid-column: 1/3;
    text-shadow: 5px 5px 5px rgb(75, 41, 52);
}
.d07_toppings{
    color: rgb(228, 207, 207);
    grid-column: 1/3;
}






/* Dessert 08 */
.dessert_08_image{
    width: 200px;
}
.dessert_08{
    background-color:#8E4162;
    grid-column: 2/3;
    grid-row: 5/6;
    text-align: center;
    margin: 50px;
    padding: 50px;
    border-radius: 25px;
    border: #57293c solid 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.dessert_08_image{
    width: 250px;
    border: 15px solid rgb(212, 165, 165);
    grid-column: 1/3;
    margin: 0 auto;
}
.d08_title{
    font-size: 40px;
    color: white;
    grid-column: 1/3;
    text-shadow: 5px 5px 5px rgb(75, 41, 52);
}
.d08_fillings_title{
    color: white;
    grid-column: 1/3;
    text-shadow: 5px 5px 5px rgb(75, 41, 52);
}
.d08_fillings{
    color: rgb(228, 207, 207);
    grid-column: 1/3;
}
.d08_toppings_title{
    color: white;
    grid-column: 1/3;
    text-shadow: 5px 5px 5px rgb(75, 41, 52);
}
.d08_toppings{
    color: rgb(228, 207, 207);
    grid-column: 1/3;
}






/* Book Now */
.booknow_dessert_image{
    width: 700px;
}




/* Phone Screen */
@media screen and (max-width: 900px) {



    /* Header */
    body{
        font-family: 'Geologica';
    }
    h2, h3, h4, h5{
        font-family: 'Roboto Slab';
    }
    .nav_bar{
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        text-align: center;
        background-color: #8E4162;
        padding: 15px;
    }
    .nav_home{
        grid-column: 1/2;
        margin-top: 30px;
        color: white;
        font-size: 23px;
        text-decoration: none;
    }
    .nav_cakes{
        grid-column: 2/3;
        margin-top: 30px;
        color: white;
        font-size: 23px;
        text-decoration: none;
    }
    #logo_link{
        grid-column: 3/4;
    }
    .logo{
        grid-column: 3/4;
        border-radius: 50px;
        width:100px;
    }
    .nav_desserts{
        grid-column: 4/5;
        margin-top: 30px;
        color: white;
        font-size: 23px;
        text-decoration: none;
    }
    .nav_contactus{
        grid-column: 5/6;
        margin-top: 30px;
        color: white;
        font-size: 23px;
        text-decoration: none;
    }
    .nav_home:hover, .nav_cakes:hover, .nav_desserts:hover, .nav_contactus:hover{
        color: #C6E0FF;
    }


    /* Title Image and Text */
    .home_image{
        text-align: center;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 200px;
        margin-bottom: 30px;
    }
    .home_title{
        grid-column: 1/2;
        grid-row: 1/2;
        z-index: 1;
        margin-top: 75px;
        font-size: 40px;
        color: #512638;
    }
    .home_subtext{
        grid-column: 1/2;
        grid-row: 1/2;
        z-index: 1;
        margin-top: 150px;
        font-size: 23px;
        color: #512638;
    }




        /* Cake and Dessert Boxes */
    .home_grid{
        display: grid;
        grid-template-columns: 650px;
        justify-content: center;
    }
    .button_box{
        background-color: white;
        text-align: center;
        width: 115px;
        height: 50px;
        margin: 0 auto;
        border-radius: 5px;
        font-size: 20px;
        padding-top: 10px;
        line-height: 2;
    }
    .button_box:hover{
        background-color: #C6E0FF;
    }




    /* Cake Box */
    .cakes_img{ 
        width: 300px;
        border: 15px solid white;
    }
    .cakes_background{
        background-color: #8E4162;
        grid-column: 1/2;
        grid-row: 1/2;
        text-align: center;
        margin: 50px;
        padding: 10px 50px 30px 50px;
        border-radius: 25px;
        border: #57293c solid 10px;
    }
    .cakes_summarytext{
        font-size: 50px;
        color: white;
        margin-bottom: 10px;
    }
    .cake_text{
        color: rgb(228, 207, 207);
    }
    .cakes_button{
        text-decoration: none;
        color: #512638;
    }
    .cakes_button:hover{
        color: #8e4966;
    }




    /* Dessert Box */
    .desserts_img{
        width:300px;
        border: 15px solid white;
    }
    .desserts_background{
        background-color: #8E4162;
        grid-column: 1/2;
        grid-row: 2/3;
        text-align: center;
        margin: 50px;
        padding: 10px 50px 30px 50px;
        border-radius: 25px;
        border: #57293c solid 10px;
    }
    .desserts_summarytext{
        font-size: 50px;
        color: white;
        margin: 10px;
    }
    .dessert_text{
        color: rgb(228, 207, 207);
    }
    .desserts_button{
        text-decoration: none;
        color: #512638;
    }
    .desserts_button:hover{
        color: #8e4966;
    }





    /* About Us Home Section */
    .aboutus{
        background-color: #ECDCB0;
        grid-column: 1/2;
        margin: 25px;
        margin-bottom: 80px;
        border: 15px solid  #d3c191;
        border-radius: 10px;
        padding: 10px;
        height: 300px;
    }
    .aboutus_title_01{
        color: #4e4017;
    }
    .aboutus_subtext{
        color: rgb(86, 71, 25);
        font-size: 20px;
        padding: 5px;
        width: 500px;
        margin-left: 20px;
    }




    /* About Us Bottom Box */
    .aboutus_text_box{
        display:grid;
        grid-template-columns: 1fr;
        background-color: #C6E0FF;
        grid-column: 1/2;
        height: 400px;
        grid-row: 5/7;
        margin: 15px;
        width: 580px;
        border: 10px solid rgb(188, 209, 238);
        padding: 10px
    }
    .aboutus_img{
        margin: 0 auto;
        margin-top: 15px;
        margin-bottom: 35px;
        grid-column: 1/2;
        grid-row: 4/5;
        width: 350px;
        z-index: 1;
        box-shadow: 5px 5px 5px #a5bbd6;
    }
    .aboutus_title_02{
        color:rgb(64, 84, 99);
        font-size: 30px;
        grid-column: 1/2;
        margin-left: 30px;
    }
    .aboutus_text{
        color:rgb(71, 86, 105);
        grid-column: 1/2;
        margin-left: 30px;
    }




    
    /* Footer */
    footer{
        display: grid;
        grid-template-columns: 150px 150px 150px 50px 50px 50px;
        grid-template-rows: 50px 50px 55px;
        margin-top: 50px;
        padding: 20px;
    }
    footer .logo{
        grid-column: 1/2;
        width: 150px;
    }
    .footer_text{
        grid-column: 2/4;
        width: 350px;
        height: 70px;
        margin-top: -2px;
        margin-left: 25px;
    }
    .button_box_siteplan{
        grid-column: 2/3;
        grid-row: 2/3;
        background-color: white;
        text-align: center;
        width: 115px;
        height: 50px;
        margin: 0 auto;
        border-radius: 5px;
        font-size: 20px;
        line-height: 2;
        margin-top: 40px;
        margin-left: 50px;
    }

    .button_box_contactus{
        grid-column: 3/4;
        grid-row: 2/3;
        background-color: white;
        text-align: center;
        width: 115px;
        height: 50px;
        margin: 0 auto;
        border-radius: 5px;
        font-size: 20px;
        padding-top: 10px;
        line-height: 2;
        margin-top: 40px;
        margin-left: 80px;
    }
    .siteplan_link{
        text-decoration: none;
        color: #512638;
    }
    .footer_contactus{
        text-decoration: none;
        color: #512638;
    }
    .facebook{
        grid-column: 6/7;
        width: 50px;
        grid-row: 1/2;
        margin: 0 auto;
        margin-bottom: 10px;
    }
    .facebook_image{
        grid-column: 6/7;
        width: 50px;
        grid-row: 2/3;
        margin: 0 auto;
        margin-top: -15px;
    }
    .twitter{
        grid-column: 6/7;
        width: 50px;
        grid-row: 2/3;
        margin: 0 auto;
        margin-top: -2px;
    }
    .twitter_image{
        grid-column: 6/7;
        width: 50px;
        grid-row: 1/2;
        margin: 0 auto;
    }
    .instagram{
        grid-column: 6/7;
        width: 50px;
        grid-row: 3/4;
        margin: 0 auto;
    }
    .instagram_image{
        grid-column: 6/7;
        width: 50px;
        grid-row: 3/4;
        margin: 0 auto;
        margin-top: 10px;
    }




    /* Cakes subpage */

    /* Cake Pricing */
    .cake_pricing_img_01{
        width: 150px;
    }
    .cake_pricing_img_02{
        width: 150px;
    }
    .cake_pricing_img_03{
        width: 150px;
    }
    .cake_pricing{
        width: 550px;
        height: 550px;
    }
    
    
    
    
    
    /* Cake 01 */
    .cake_01{
        grid-column: 1/2;
        grid-row: 2/3;
    }
    .cake_01_image{
        width: 250px;
        border: 15px solid rgb(212, 165, 165);
        grid-column: 1/3;
        margin: 0 auto;
    }
    
    
    
    
    
    
    /* Cake 02 */
    .cake_02{
        grid-column: 1/2;
        grid-row: 3/4;
    }
    .cake_02_image{
        width: 250px;
        border: 15px solid rgb(212, 165, 165);
    }
    
    
    
    
    
    /* Cake 03 */
    .cake_03{
        background-color:#8E4162;
        grid-column: 1/2;
        grid-row: 4/5;
        text-align: center;
        margin: 50px;
        padding: 50px;
        border-radius: 25px;
        border: #57293c solid 10px;
    }
    .cake_03_image{
        width: 300px;
        border: 15px solid rgb(212, 165, 165);
    }
    .c03_title{
        font-size: 40px;
        color: white;
        text-shadow: 5px 5px 5px rgb(75, 41, 52);
    }
    .c03_icing_title{
        color: white;
        text-shadow: 5px 5px 5px rgb(75, 41, 52);
    }
    .c03_icing{
        color: rgb(228, 207, 207);
    }
    .c03_filling_title{
        color: white;
        text-shadow: 5px 5px 5px rgb(75, 41, 52);
    }
    .c03_filling{
        color: rgb(228, 207, 207);
    }
    
    
    /* Cake 04 */
    .cake_04{
        grid-column: 1/2;
        grid-row: 5/6;
    }
    .cake_04_image{
        width: 400px;
        border: 15px solid rgb(212, 165, 165);
    }

    
    
    
    
    
    
    /* Cake 05 */
    .cake_05{
        grid-column: 1/2;
        grid-row: 6/7;
    }
    .cake_05_image{
        width: 400px;
        border: 15px solid rgb(212, 165, 165);
    }
    
    
    
    
    
    
    /* Cake 06 */
    .cake_06{
        grid-column: 1/2;
        grid-row: 7/8;
    }
    .cake_06_image{
        width: 400px;
        border: 15px solid rgb(212, 165, 165);
    }
    
    
    
    
    /* Flavor Requests */
    .flavor_requests{
        width: 625px;
    }
    
    
    
    
    
    /* Cake Tasting */
    .cake_tasting{
        width: 625px;
    }
    
    

    /* Delivery */
    .delivery{
        margin: 0 auto;
        margin-top: 50px;
        margin-bottom: 50px;
        padding: 30px;
        border: 10px solid #cfbd87;
        border-radius: 10px;
        background-color: #ECDCB0;
        grid-column: 1/3;
        width: 625px;
    }
    
    
    
    
    
    
    /* Book Now */
    .booknow_box{
        width: 575px;
    }
    .booknow_cake_image{
        width: 550px;
    }






    /* Dessert subpage */

    /* Dessert Pricing */
    .dessert_pricing{
        grid-column: 1/2;
        grid-row: 1/2;
        width: 575px;
        height: 250px;
    }
    .dessert_pricing_title{
        font-size: 40px;
        color:#3f4c5c
    }
    .dessert_pricing_text{
        color: #516175;
    }
    
    
    .dessert_01{
        grid-column: 1/2;
        grid-row: 2/3;
    }
    
    
    
    /* Dessert 02 */
    .dessert_02{
        grid-column: 1/2;
        grid-row: 3/4;
    }
    .d02_title{
        text-align: center;
    }
    
    
    
    
    
    
    /* Dessert 03 */
    .dessert_03{
        grid-column: 1/2;
        grid-row: 4/5;
    }
    
    
    
    
    
    
    /* Dessert 04 */
    .dessert_04{
        grid-column: 1/2;
        grid-row: 5/6;
    }
    
    
    
    
    
    
    /* Dessert 05 */
    .dessert_05{
        grid-column: 1/2;
        grid-row: 6/7;
    }
    .dessert_05_image{
        width: 250px;
        border: 15px solid rgb(212, 165, 165);
        grid-column: 1/3;
        margin: 0 auto;
    }
    
    
    
    
    
    
    /* Dessert 06 */
    .dessert_06{
        grid-column: 1/2;
        grid-row: 7/8;
    }
    .dessert_06_image{
        width: 250px;
        border: 15px solid rgb(212, 165, 165);
        grid-column: 1/3;
        margin: 0 auto;
    }
    
    
    
    
    
    
    /* Dessert 07 */
    .dessert_07{
        grid-column: 1/2;
        grid-row: 8/9;
    }
    .dessert_07_image{
        width: 250px;
        border: 15px solid rgb(212, 165, 165);
        grid-column: 1/3;
        margin: 0 auto;
    }
    
    
    
    
    
    
    /* Dessert 08 */
    .dessert_08_image{
        width: 200px;
    }
    .dessert_08{
        grid-column: 1/2;
        grid-row: 9/10;
    }
    .dessert_08_image{
        width: 250px;
        border: 15px solid rgb(212, 165, 165);
        grid-column: 1/3;
        margin: 0 auto;
    }
    
    
    
    
    
    
    /* Book Now */
    .booknow_dessert_image{
        width: 400px;
    }
    }