@import url();
/* ADD IN A FONT SIMILAR TO THE ONE IN THE LOGO */





/* Header */
.nav_bar{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    text-align: center;
    background-color: #8E4162;
    padding: 15px;
}
.nav_home{
    grid-column: 1/2;
    margin-top: 30px;
    color: white;
    font-size: 30px;
}
.nav_cakes{
    grid-column: 2/3;
    margin-top: 30px;
    color: white;
    font-size: 30px;
}
#logo_link{
    grid-column: 3/4;
}
.logo{
    grid-column: 3/4;
    border-radius: 50px;
    width:100px;
}
.nav_desserts{
    grid-column: 4/5;
    margin-top: 30px;
    color: white;
    font-size: 30px;
}
.nav_contactus{
    grid-column: 5/6;
    margin-top: 30px;
    color: white;
    font-size: 30px;
}






/* Body: */


/* Title Image and Text */
.home_image{
    text-align: center;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 460px;
}
.home_title{
    grid-column: 1/2;
    grid-row: 1/2;
    z-index: 1;
    margin-top: 75px;
    font-size: 40px;
    color: #512638;
}
.home_subtext{
    grid-column: 1/2;
    grid-row: 1/2;
    z-index: 1;
    margin-top: 150px;
    font-size: 25px;
    color: #512638;
}
.h_image_box{
    width:100%;
    opacity: 0.5;
    grid-column: 1/2;
    grid-row: 1/2;
}





/* Cake and Dessert Boxes */
.home_grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
}
.cakes_img{
    width:200px;
    border: 10px solid white;
}
.desserts_img{
    width:200px;
    border: 10px solid white;
}
.aboutus_img{
    width:300px;
}


/* Cake Box */
.cakes_background{
    background-color: #8E4162;
    grid-column: 1/2;
    text-align: center;
    margin: 50px;
    padding: 50px;
}




/* Dessert Box */
.desserts_background{
    background-color: #8E4162;
    grid-column: 2/3;
    text-align: center;
    margin: 50px;
    padding: 50px;
}



/* Cake Subpage */
.cake_pricing_img{
    width: 200px;
}
.cake_05_image{
    width: 200px;
}



/* Dessert Subpage */
.dessert_07_image{
    width: 200px;
}
.dessert_08_image{
    width: 200px;
}