h1{
    font:2em; 
    color: orange;
}
.p_one{
    margin-top:20; 
    margin-bottom:50;
}
.p_two{
    text-align: 
    center;font:3em; 
    background-color:rgb(173, 184, 226);
}
img{float: right; 
    max-width: 350px; 
    padding: 15px; 
    margin: 50px; 
    background: gray; 
    border: 2px solid black; 
    border-radius: 30px; 
    font: purple;}